build/
.vscode/

*.cmake

CMakeCache.txt

CMakeFiles/

kamflip_autogen/

kamflip

Makefile

prefix.sh

*.kdev4

kamflip.cflags

kamflip.config

kamflip.creator

kamflip.creator.user

kamflip.cxxflags

kamflip.files

kamflip.includes
